:host {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: white;
  background-color: light-dark(var(--primary), var(--monochromatic--dark-deep));
  transition: background-color 0.4s ease;
}
