@if (!theme.loading()) {
  <app-button class="button" appearance="plain" type="button" (click)="toggleDropdown()">
    <span class="material-symbols-outlined icon" [class.icon--filled]="dropdownStatus()">{{
      currentModeIcon()
    }}</span>
  </app-button>
}

@if (dropdownStatus()) {
  <ul class="list">
    @for (mode of modes; track mode.value) {
      <li class="item" [class.item--active]="theme.current() === mode.value">
        <app-button
          class="item__button"
          appearance="plain"
          type="button"
          (click)="selectTheme(mode.value)"
        >
          <span class="material-symbols-outlined icon">{{ mode.icon }}</span>
          {{ mode.label }}
        </app-button>
      </li>
    }
  </ul>
}
